html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body {
    color: $black;
    font-family: $base-font;
    line-height: 1.3;
}

main {
    background-color: $white;
}